<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% assign page_info = site.pages | where: 'name', 'sobchak.md', 'manabo.md' %}
	<table>
		<tr>
			<td>Проект</td>
			<td>Режиссер</td>
			<td>Статус</td>
		</tr>
		<tr>
			<td>{{ page_info[0].title }}</td>
			<td>{{ page_info[0].direction }}</td>
			<td>{{ page_info[0].status }}</td>
		</tr>
		<tr>
			<td>{{ page_info[0].title }}</td>
			<td>{{ page_info[0].direction }}</td>
			<td>{{ page_info[0].status }}</td>
		</tr>
	</table>
</body>
</html>
