---
---
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');;


body {
     background-color: #ff447d;
     display: block;
     width: 100%;
     height: 100%;
     padding-left: auto;
     padding-right: auto;
}

 #wrapper {
     width: auto;
     min-width: auto;
     max-width: auto;
     margin: 0 0 0 0;
     color: alpha;
     padding: 0 0 0 0;
}


 p {
     font-family: 'M PLUS Rounded 1c', sans-serif;
     font-weight: 500;
     color: white;
     font-size: 0.5em;
     line-height: 1.5em;
}

ul, li {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 0.5em;
    line-height: 1.5em;
}

/* unvisited link */

a:link {
    color: white;
    text-decoration: none;
}

/* mouse over link */

 a:hover {
     color: white;
     text-decoration: underline;
}
/* selected link */

 a:active {
     color: white;
     text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

 .video-container {
     position: sticky;
}

video {
    height: auto;
    vertical-align: top;
    align: middle;
    width: 100%;
    opacity: 0.2;
}


.overlay-desc {
 background: alpha;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0.5;
}

.scaled {
  transform: scale(0.5); /* Equal to scaleX(0.7) scaleY(0.7) */}
