---
---
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');;


body {
     background-color: #ff447d;
     display: block;
     width: 100%;
     height: 100%;
     padding-left: auto;
     padding-right: auto;
}

table {
  border-collapse: collapse;
}



table, th, td {
  border: 0.1px solid white;
}

th, td {
  padding: 10px;
  color: #ff447d;
  text-align: left;
  vertical-align: top;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


 #wrapper {
     width: 100%;
     min-width: auto;
     max-width: auto;
     margin: 0px auto;
     color: alpha;
     padding: 0 0 0 0;
}

 hr {
     border: none;
     background-color: white;
     color: white;
     height: 1px;
}

 p {
     font-family: 'M PLUS Rounded 1c', sans-serif;
     font-weight: 400;
     color: white;
     font-size: 1em;
     line-height: 1.5em;
}

h1, h2, h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.2em;
    line-height: 1.7em;
}

ul, li {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}

.toptable-meta

{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}

/* unvisited link */

a:link {
    color: white;
    text-decoration: none;
}

/* mouse over link */

 a:hover {
     color: white;
     text-decoration: underline;
}
/* selected link */

 a:active {
     color: white;
     text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

 .video-container {
     position: sticky;
}

video {
    height: auto;
    vertical-align: top;
    align: middle;
    width: 100%;
    opacity: 0.2;
}

.overlay-desc {
 background: alpha;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
}
