---
---
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


body {
     background-color: black;
     display: block;
     width: 100%;
     height: 100%;
     padding-left: 10px;
     padding-right: 10px;
}
 #wrapper {
     width: 100%;
     min-width: 100px;
     max-width: 400px;
     margin: 0px auto;
     color: white;
     padding: 1 1 1 1;
     opacity: 0.9;
}
 h1 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 900;
     font-size: 2em;
     color: #e84bc1;
     line-height: 0.9em;
}
 h2 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 500;
     font-size: 1,5em;
     color: #e84bc1;
     line-height: 1.3em;
}

 h3 {
  color: white;
	font-size: 1em;
	font-family: 'IBM Plex Mono', sans-serif;
	font-weight: 900;
}

 hr {
     border: none;
     background-color: white;
     color: #e84bc1;
     height: 20px;
}

 p {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: #e84bc1;
     font-size: 20px;
     line-height: 1.5em;
}

 .see-also {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 800;
     font-size: 20px;
     line-height: 150%;
}

 ul {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: #e84bc1;
     font-size: 20px;
     line-height: 1.5em;
}

 li {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: #e84bc1;
     font-size: 20px;
     line-height: 1.5em;
}

/* unvisited link */
a:link {
    color: #e84bc1;
    text-decoration: none;
}

/* mouse over link */
 a:hover {
     color: white;
     text-decoration: none;
}
/* selected link */
 a:active {
     color: #e84bc1;
     text-decoration: none;
}

a:visited {
    color: #e84bc1;
    text-decoration: none;
}

 .caption {
     font-size: 20px;
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 300;
     color: #e84bc1;
     line-height: 110%;
}
 .footer {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 800;
     font-size: 20px;
     line-height: 150%;
}
 .video-container {
     position: relative;
}
video {
    height: auto;
    vertical-align: middle;
    align: middle;
    width: 100%;
}

mark {
 background: #e84bc1;
 padding-left: 2px;
 padding-right: 2px;
}

.overlay-desc {
 background: alpha;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 5
}
.overlay-name {
    color: white;
    font-weight: 900;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 3em;
    text-align: right;
    transform: skewY(1deg);
    line-height: 90%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: left;
}
