---
---
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');


body {
     background-color: black;
     display: block;
     width: 100%;
     height: 100%;
     padding-left: 10px;
     padding-right: 10px;
}

table, th, td {
  color: white;
  font-family: 'IBM Plex Mono', sans-serif;
}

th, td {
  padding: 10px;
  text-align: left;
}

th, td {
  border-bottom: 2px solid #e84bc1;
}


 #wrapper {
     width: 100%;
     min-width: 100px;
     max-width: 400px;
     margin: 0px auto;
     color: white;
     padding: 1 1 1 1;
     opacity: 0.9;
}
 h1 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 900;
     font-size: 1em;
     color: #e84bc1;
     line-height: 1.5em;
}


 hr {
     border: none;
     background-color: #e84bc1;
     color: #e84bc1;
     height: 2px;
}

 p, ul, li, h1, h2, h3 {
     font-family: 'IBM Plex Mono', sans-serif;
     font-weight: 400;
     color: #e84bc1;
     font-size: 1em;
     line-height: 1.5em;
}


/* unvisited link */
a:link {
    color: #e84bc1;
    text-decoration: none;
}

/* mouse over link */
 a:hover {
     color: white;
     text-decoration: none;
}
/* selected link */
 a:active {
     color: #e84bc1;
     text-decoration: none;
}

a:visited {
    color: #e84bc1;
    text-decoration: none;
}

 .video-container {
     position: relative;
}
video {
    height: auto;
    vertical-align: middle;
    align: middle;
    width: 100%;
}

mark {
 color: white;
 background: none;
 padding-left: 2px;
 padding-right: 2px;
}

.overlay-desc {
 background: alpha;
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 5
}

.overlay-name {
    font-weight: 900;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 3em;
    text-align: right;
    transform: skewY(-10deg);
    transform: perspective(-30deg);
    line-height: 90%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  align-items: center;
}
